.funnelPlotContainer {
  position: relative;
  width: 500px;
  height: 200px;
  background-color: #ddd;
}

.funnelPlotCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.funnelPlotSvg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
