.mapTooltip {
  position: absolute;
  background: white;
  padding: 4px;
  pointer-events: none;
  transition: 200ms linear;
  transform: translate(-50%, 0%);
  width: 180px;
  border: 1px solid #000;
  font-size: 0.75rem;
}

.map {
  position: relative;
  overflow: hidden;
  border: 1px solid #000;
}
